/* CART */

.bag .cart {
    max-height: 400px;
    position: absolute;
    width: 400px;
    right: -50px;
    margin-top: 40px;
    z-index: 11;
    visibility: hidden;
    opacity: 0; 
    border-top: unset;
    transition: 0.2s 0s;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #edf0f5;
    border-top: 2px solid #ee4266;
    overflow-y: auto;
    overflow-x: hidden;
    text-transform: unset !important;
}

.dropdown-test {
    position: absolute;
    padding: 0;
    right: -50px;
    margin-top: 40px;
    z-index: 11;
    visibility: hidden;
    opacity: 0; 
    border-top: unset;
    transition: 0.2s 0s;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border: 1px solid #edf0f5;
    border-top: 2px solid #ee4266;
    text-align: left;
}

.column-dropdown {
    padding: 0;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
}

.column-dropdown li,
.dropdown-test li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width:  200px;
}

.dropdown-test li:hover {
    background-color: #F4F5F9;
    color: #25262a;
}

.dropdown-test li *,
.column-dropdown li * {
    padding: 9px 20px;
    text-transform: none !important;
}

.bag .cart .item {
    border-bottom: 1px solid #f9f9f9;
}

.bag .cart .item > * {
    text-transform: none !important;
}

.bag .cart .item:hover {
    background-color: #F4F5F9;
    color: #25262a;
}

.bag, .person-menu {
    z-index: 9999 !important;
}

.bag:hover .cart,
.bag:active .cart,
.person-menu:hover .dropdown-test,
.person-menu:active .dropdown-test {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 20px;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .bag .cart,
    .dropdown-test {
        display: none;
    }
}

/* SEARCH */
.search-bottom {
    margin-top: 10px;
    display: none;
}

.search-top,
.search-bottom {
    position: relative;
    flex-grow: 2;
    z-index: 999999;
}

.search-top .background,
.search-bottom .background {
    position: fixed;
    background-color: rgba(50,50,50,.5);
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    visibility: hidden;
}

.search-top .visible {
    visibility: visible;
}

.search-top .search-results,
.search-bottom .search-results {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 20px;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    border: 1px solid transparent;
    border-top: unset;
    transition: 0.2s 0s;
    box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.05);
}

.search-top .active-search,
.search-bottom .active-search {
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

@media (max-width: 991.98px) {
    .search-top {
        display: none;
    }

    .search-bottom {
        display: block;
    }
}

/* VANILLA TOAST */

#vanillatoasts-container{
    z-index: 10;
    position: sticky;
    top: 70px;
}

.vanillatoasts-toast {
    background-color: white !important;
    border: 1px solid #EFEFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
}