.product-border {
    border-bottom: 1px solid red !important;
    margin: 5px;
}

.product .interface-container .interface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product .interface-container .interface .top {
    position: absolute;
    display: flex;
    top: 0;
}

.product .interface-container .interface .bottom {
    position: absolute;
    display: flex;
    bottom: 0;
    z-index: 10;
}

.product .interface-container .interface .bottom .add-to-cart,
.product .interface-container .interface .top .add-to-favorite {
    padding: 8px 0;
    margin: 2px 0;
}

.product .interface-container .interface .bottom .add-to-cart svg,
.product .interface-container .interface .top .add-to-favorite svg {
    cursor: pointer;
}