.product:nth-child(odd).product-padding {
    padding-right: 4px !important;
}

.product:nth-child(even).product-padding {
    padding-left: 4px !important;
}

.product-border-bottom {
    border-bottom: 1px solid #EE4266 !important;
}

.product .interface-container .interface {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.product .interface-container .interface .top {
    position: absolute;
    display: flex;
    top: 0;
}

.product .interface-container .interface .bottom {
    position: absolute;
    display: flex;
    bottom: 0;
    z-index: 10;
}

.product .interface-container .interface .bottom .add-to-cart,
.product .interface-container .interface .top .add-to-favorite {
    padding: 8px 0;
    margin: 2px 0;
}

.product .interface-container .interface .bottom .add-to-cart svg,
.product .interface-container .interface .top .add-to-favorite svg {
    cursor: pointer;
}

.product .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}