.container
{
    width: 50%;
    margin-left: 25%;
    height: 100vh;
    padding-top: 10%;
    background-color: rgb(243, 243, 243);
    -webkit-box-shadow: 0px 0px 29px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 29px 7px rgba(0,0,0,0.75);
}
.flex-Popup
{
    width: 60%;
    height: 45%;
    border-radius: 3vh;
    border: 0.2vh solid black;
    margin-left: 20%;
    display: flex;
    flex-direction: column;      
}
/*Input*/
.Popup-Input
{
    flex: 1;
    text-align: center;
    margin-left: 30%;
}

/*Text*/
.someText-container
{
    flex: 1;
    text-align: center;
}
.someText
{
    margin-top: 8%;
    font-weight: 500;
}
/*Clock*/

.Countdown-Timer
{
    width: 100%;
    float: left;
    margin-right: 40%;
    font-size: 3vh;
    margin-top: -1vh;

}
/*Button*/
.Popup-Button
{
    display: flex;
    flex-direction: row;
    flex: 1;
    text-align: center;
}
.Popup-Btn
{
    width: 60vh;
    border-radius: 1vh;
    border: 0.2vh solid black;
    height: 5vh;
    outline-style: none;
    float: right;
    margin-right: 5%;
    outline-color: none;
}
.Popup-Btn:focus
{
    border: 0.2vh solid black;
    outline-style: none;
    background-color: red;
    color:  white;
}
#partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
    outline-style: none;
    background-color: rgb(243, 243, 243);
  }
  
  #divInner{
    left: 0;
    position: sticky;
    outline-style: none;
  }
  
  #divOuter{
    width: 190px; 
    overflow: hidden;
    outline-style: none;  
}
