.react-tabs__tab-list {
    display: block;
    overflow-y: hidden;
    width: 100%;
    white-space: nowrap;
    border-bottom: 1px solid #dee2e6;
}

.react-tabs__tab--selected {
    border-color: #dee2e6;
}

.react-tabs__tab {
    margin-left: 1rem !important;
}